@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Playfair+Display:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
}

/* body */

body {
    font-family: Didact Gothic, sans-serif;
    font-weight: 200;
    color: #5C4343;
    background-color: #FFF2F2;
}

/* Heading */

h1, h2, h3 {
    font-family: Playfair Display, sans-serif;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1.5rem;
    margin: 10px 0 28px;
}

a {
    color: #fff;
}

/* header and navigation */

.header {
    min-height: 45rem;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(../images/hero-image.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 4% 4%;
    justify-content: space-between;
    align-items: flex-start;
}

nav img {
    width: 150px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    text-transform: uppercase;
    list-style: none;
    display: inline-block;
    padding: 9px 6px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    background: #A68D60;
    border: 9px solid #A68D60;
    font-family: Playfair Display, sans-serif;
    transition: 0.6s;
}

.nav-links ul li a:hover {
    color: #A68D60;
    background: #fff;
    border: 8px solid #fff;
}

nav .fa-solid {
    display: none;
}

/* The hero text */

.hero-text {
    display: flex;
    flex-direction: column;
    color: #fff;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 60vw;
}

.hero-text h1 {
    font-size: 4rem;
}

/* Pastry of the month section */

.pastry-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.pastry-img img {
    width: 50vw;
    height: 100vh;
    display: block;
    object-fit: cover;
    object-position: center;
    background-size: cover;
}

.pastry-text {
    margin-right: 0;
    height: auto;
    padding: 5%;
    text-align: center;
}

/* Baking and pastry course section */

.course-column {
    display: flex;
    flex-direction: column;
    background-color: #985C5C;
    color:#fff;
    width: 100%;
    height: auto;
}

.course-img img {
    width: 100%;
    height: 50vh;
    display: block;
    object-fit: cover;
    object-position: center;
    background-size: cover;
}

.course-text {
    padding: 5% 12%;
    width: 100%;
    height: auto;
    padding: 5%;
    text-align: center;
}

.course-btn {
    display: inline-block;
    text-decoration: none;
    color:#fff;
    border: #fff 1px solid;
    padding: 12px 20px;
    font-size: 1.3rem;
    font-family: Playfair Display, sans-serif;
    position: relative;
}

.course-btn:hover {
    background: #fff; 
    color: #985C5C; 
}