@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Playfair+Display:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
}

/* Body */

body {
    font-family: Didact Gothic, sans-serif;
    color: #5C4343;
    background-color: #FFF2F2;
}

/* Heading */

h1, h2, h3 {
    font-family: Playfair Display, sans-serif;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    padding-bottom: 1.5rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1.5rem;
    margin: 10px 0 28px;
}

a {
    color: #fff;
}

/* Header and navigation */

.header {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(../images/hero-image.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 4% 4%;
    justify-content: space-between;
    align-items: flex-start;
}

nav img {
    width: 150px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    text-transform: uppercase;
    list-style: none;
    display: inline-block;
    padding: 9px 6px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    background: #A68D60;
    border: 9px solid #A68D60;
    font-family: Playfair Display, sans-serif;
}

.nav-links ul li a:hover {
    color: #A68D60;
    background: #fff;
    border: 8px solid #fff;
}

nav .fa-solid {
    display: none;
}

/* The hero text */

.hero-text {
    display: flex;
    flex-direction: column;
    color: #fff;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 60vw;
}

.hero-text h1 {
    font-size: 4rem;
}

/* Pastry of the month section */

.pastry-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.pastry-img img {
    width: 50vw;
    height: 100vh;
    display: block;
    object-fit: cover;
    object-position: center;
    background-size: cover;
}

.pastry-text {
    margin-right: 0;
    height: auto;
    padding: 5%;
    text-align: center;
}

/* Baking and pastry course section */

.course-text-column {
    display: flex;
    flex-direction: column;
    background-color: #985C5C;
    color:#fff;
    width: 100%;
    height: auto;
}

.course-img img {
    width: 100%;
    height: 50vh;
    display: block;
    object-fit: cover;
    object-position: center;
    background-size: cover;
}

.course-text {
    padding: 5rem 10rem;
    text-align: center;
}

.course-btn {
    display: inline-block;
    text-decoration: none;
    color:#fff;
    border: #fff 1px solid;
    padding: 12px 20px;
    font-size: 1.3rem;
    font-family: Playfair Display, sans-serif;
    position: relative;
}

.course-btn:hover {
    background: #fff; 
    color: #985C5C; 
}

/* Instagram section */

.instagram-widget {
    text-align: center;
    padding-top: 2rem;
    background: #fff;
    padding-top: 5%;
}

.elfsight-app-ec6807e2-d33c-483e-8462-5accc1920041 {
    padding: 5%;
}

.eapps-instagram-feed-container {
    border:#A68D60 1.5px solid;
    padding: 2rem;
}

/* Footer */

.footer {
    background-color: #482929;
}

.footer-main {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 4rem;
}

.footer-column {
    color: #fff;
}

.footer-column img {
    width: auto;
    height: auto;
    object-fit: cover;
    object-position: center;
    background-size: cover;
}

.footer-container h3 {
    padding-bottom: 8px;
}

.footer-container p {
    font-size: 1rem;
    letter-spacing: 0.5px;
    margin: 2px;
}

.footer-container a:hover {
    color:#A68D60;
}

.footer-container li {
    list-style-type: none;
    line-height: 1.4rem;
}

.fa-solid {
    padding-right: 8px;
}

/* Footer bottom */

.footer-bottom {
    display: flex;
    color:#fff;
    background: #311d1d;
    justify-content: center;
}

.footer-bottom p {
    font-size: 0.6rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    margin: 1rem;
}

/* --- Course page --- */

/* Header */

.sub-header {
    min-height: 35rem;
    height: 80vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(../images/baking-class.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

/* The sub header text */

.sub-header-text {
    display: flex;
    flex-direction: column;
    color: #fff;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 60vw;
}

.sub-header-text h1 {
    font-size: 4rem;
}

/* Course section */

.course {
    margin: auto;
    display: flex;
    flex-direction: row;
    padding: 2rem;
}

.course-column {
    padding: 1.5rem;
    background-color: #fff;
    margin: 1rem;
    text-align: center;
}

.course-column img {
    width: 100%;
    height: 40vh;
    display: block;
    object-fit: cover;
    object-position: center;
    background-size: cover;
}

.course-column h2 {
    padding: 1rem 0;
}

.course-column p {
    font-size: 1.3rem;
}

/* Form section */

.form-container {
    padding: 5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(../images/form-bg.jpg);
    background-position: center;
    background-size: cover;
}

.form-container h2 {
    text-align: center;
    padding-bottom: 2rem;
}

.form-container h3 {
    padding: 0.5rem 0 1rem;
}

.signup-form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 4rem 8rem;
    margin: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    font-weight: bold;
    min-width: 40vw;
}

.text-input {
    background: transparent;
    height: 2rem;
    border: #5C4343 solid 1px;
    border-radius: 2px;
    padding-right: 1rem;
}

.text-input:hover {
    border-color: #A68D60;
}

.chechbox {
    display: flex;
}

.chechbox label {
    padding: 0.3rem;
}

.submit-btn {
    color:#fff;
    background: #A68D60;
    padding: 0.4rem 1rem;
    font-size: 1.2rem;
    font-family: Playfair Display, sans-serif;
    margin-top: 1.2rem;
}

.submit-btn:hover {
    background: #5C4343; 
    color: #fff;
}

/* Quote section */

.quote-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 5rem 10rem;
    background: #985C5C;
    color: #fff;
}

.quote-container p {
    font-size: 1.3rem;
    padding-top: 1.8rem;
    margin: 0;
}

/* --- Contact us page --- */

/* Header */

.contact-header {
    min-height: 35rem;
    height: 80vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(../images/contact.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

/* The sub header text */

.contact-header-text {
    display: flex;
    flex-direction: column;
    color: #fff;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 60vw;
}

.contact-header-text h1 {
    font-size: 4rem;
}

/* Contact us section */

.contact {
    margin: auto;
    display: flex;
    flex-direction: row;
    padding: 2rem;
    justify-content: space-evenly;
}

.contact-column {
    padding: 1.5rem;
    margin: 1rem;
    text-align: center;
}

.contact-column li, .contact-column a {
    list-style-type: none;
    line-height: 1rem;
    font-size: 1.5rem;
    margin: 10px 0 28px;
    color:#482929;
}

.contact-column a:hover {
    color: #A68D60;
}


/* Media queries for devices smaller than 992px*/
@media only screen and (max-width: 992px) {
    
    /* Hero text */
    .hero-text, .sub-header-text {
        width: 70vw;
    }

    .h1, .hero-text h1, .course-text h1, .pastry-text h1, .sub-header-text h1, .contact-header-text h1 {
        font-size: 3rem;
    }

    .h2, .instagram-widget h2, .course-column h2 {
        font-size: 2rem;
    }

    .p, .course-text p, .pastry-text p {
        font-size: 1.6rem;
    }

    /* Pastry of the month section */
    
    .pastry-container {
        flex-direction: column;
        height: auto;
    }

    .pastry-text {
        width: auto;
    }

    .pastry-img img {
        width: 100vw;
        height: 60vh;
    }

    /* Course section */

    .course-text {
        padding: 3rem;
    }

    .course-btn {
        font-size: 1.5rem;
    }

    /* Course page */

    .course {
        flex-direction: column;
    }

    .course-column img {
        height: 50vh;
    }

    /* Footer */

    .footer-main {
        padding: 1rem;
    }

    .footer-column {
        padding: 1rem;
        flex-basis: auto;
        margin: 0;
    }
}

    /* Media queries for devices samller than 768px */

@media(max-width: 768px) {

    /* Navigation */

    nav img {
        width: 100px;
        margin: 8px;
    }

    nav {
        padding: 5% 6%;
    }

    nav .fa-solid {
        display: block;
        color: #fff;
        margin: 15px;
        font-size: 30px;
        cursor: pointer;
        text-align: right;
    }

    .nav-links ul li {
        display: block;
        border-bottom: #fff solid 1px;
        padding: 10px 10px;
    }

    .nav-links {
        position: absolute;
        background: #A68D60;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -250px;
        text-align: left;
        z-index: 2;
        font-size: 20px;
        transition: 1s;
    }

    .nav-links ul {
        padding: 10px;
        border: none;
    }

    .nav-links ul li a {
        background: transparent;
        border: none;
    }

    .nav-links ul li a:hover {
        color: #A68D60;
        background: transparent;
        border: none;
    }   

    /* Headings */

    .h1, .hero-text h1, .course-text h1, .pastry-text h1, .sub-header-text h1, .contact-header-text h1 {
        font-size: 3rem;
    }

    .h2, .instagram-widget h2, .course-column h2, .form-container h2 {
        font-size: 2rem;
    }

    .p, .course-text p, .pastry-text p, .sub-header-text p, .contact-header-text p {
        font-size: 1.2rem;
    }

    /* Course section */

    .course-btn {
        font-size: inherit;
    }

    /* Courses page */

    .course {
        padding: 1rem;
    }

    .course-column img {
        height: auto;
    }

    .form-container {
        padding: 0;
    }

    .signup-form {
        padding: 2.4rem;
        margin: 2rem;
    }

    .quote-container {
        padding: 3rem;
    }

    .quote-container h2 {
        font-size: 1.1rem;
        letter-spacing: 0.1px;
    }

    .quote-container p {
        font-size: 1rem;
        padding-top: 1rem;
    }

    /* Footer */

    .footer-main {
        flex-direction: column-reverse;
        text-align: center;
        padding: 0;
    }

    .footer-column {
        padding: 1rem;
        flex-basis: auto;
        margin: 0;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    /* Headings */

    .h1, .hero-text h1, .course-text h1, .pastry-text h1, .sub-header-text h1, .contact-header-text h1 {
        font-size: 2.4rem;
    }

    .h2, .instagram-widget h2, .course-column h2, .form-container h2 {
        font-size: 1.6rem;
    }

    .p, .course-text p, .pastry-text p  {
        font-size: 1rem;
    }

    /* Course section */
    .course-text, .pastry-text {
        padding: 3rem;
    }

    .course-btn {
        font-size: 1.3rem;
    }

    .footer-column {
        padding-top: 2rem;
    }
}